*,
*:before,
*:after {
  box-sizing: border-box;
}

.board {
  max-width: 302px;
  border: 1px solid #444;
}

.row {
  overflow: hidden;
}

.box {
  width: 100px;
  height: 100px;
  border: 1px solid #444;
  float: left;
}
